<link rel="stylesheet" href="/styles/userPymnt.css">
 
<div class="page" style="color:rgb(224, 168, 66);margin:1rem auto;font-size:2rem;font-weight:900;letter-spacing:.45rem;display:flex;align-items:center;height:5rem;overflow:hidden;">
    <img src="https://png.pngtree.com/png-vector/20230120/ourmid/pngtree-veterinary-design-vet-clipart-puppy-cute-cat-logo-png-image_6565444.png" alt="" style="width:8rem;">
    PAYMENT OPTION
</div>
<div class="checkout-bs-page">
    <div class="checkout-bs-form">
        <div class="address-det">
            <div class="contact">
                <h4>
                    CONTACT
                </h4>
                <p>
                    {{addr.ph}}
                </p>
                <a href="/address">
                    Change
                </a>
            </div>
            <div class="add">
                <h4>
                    SHIP TO
                </h4>
                <p style="
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                ">
                    {{addr.addr}},{{addr.city}},{{addr.state}},{{addr.country}},{{addr.pinCode}}
                </p>
                <a href="/address">
                    Change
                </a>
            </div>
        </div>
        <div class="payment-det">
            <form action="/cart/pymnt/{{idType}}/{{id}}" method="POST">
                <label class="pymnt-option" for="pymnt-online">
                    <input type="radio" name="pymnt" id="pymnt-online" value="online" required>
                    <h3>Online Payment - Free Delivery</h3>
                    <p>Free</p>
                </label>
                <label class="pymnt-option"  for="pymnt-cod">
                    <input type="radio" name="pymnt" id="pymnt-cod" value="cod" required>
                    <h3>Cash On Delivery</h3>
                    <p>Rs {{calculateTotal item}}</p>
                </label>
                <input type="text" value="{{idType}}" hidden>
                <div class="action-frm">
                    <button type = "submit">Pay</button>
                </div>
            </form>
            <a href="/cart" class="bck-cart"><i class="fa-solid fa-caret-left"></i> Back to cart</a>
        </div>
        <div class="payment-action">
            <a href="#"></a>
        </div>
    </div>
    <div class="card-det">
    <div class="top-col">
        <div class="cart">
            <div class="cart-header">
                <div class="hd products">Products</div>
                <div class="hd price">Price</div>
                <div class="hd quantity">Quantity</div>
                <div class="hd total">Total</div>
            </div>
            <div class="cart-body">
                {{#each item}}
                    <div class="cart-row">
                        <div class="td products">
                            <img src="{{this.productId.photo.[0].filepath}}.png" alt="">
                            <div class="prod-det">
                                <h3>{{this.productId.productName}}</h3>
                                <p>{{this.productId.brandName}}</p>
                            </div>
                        </div>
                        <div class="td price">{{this.productId.salePrice}}</div>
                        <div class="td quantity"><input type="number" class="mobile-input" value="{{this.quantity}}" placeholder="Qnty" readonly></div>
                        <div class="td total">{{multiply this.productId.salePrice this.quantity}}</div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="bottom-col">
        <div class="order-summary">
            <h3>Order Summary</h3>
             <div class="subTotal">
                <span>Sub Total:</span>
                <h5>Rs {{calculateTotal item}}</h5>
             </div>
             <div class="total">
                <span>Total:</span>
                <h5>Rs {{calculateTotal item}}</h5>
             </div>
             <div class="options">
                <input type="text" name="coupon" placeholder="Coupon....">
                <button class="checkout">Apply</button>
                 
             </div> 
        </div>
    </div>
</div>
</div>
<script>
    let i=0;
    let placeholder="";
    const txt="Search in Cart....";
    const speed=120;
    function type(){
        placeholder+=txt.charAt(i);
        if(i<txt.length){
            document.querySelector(".search-cont input").setAttribute("placeholder",placeholder)
            i++;
        }else{
             i=0;
             placeholder="";
        }
        setTimeout(type,speed);
    }
    type(); 
</script>